*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: verdana;
    background-color: #ebeef1;
    
}

body{
    background-color: #ebeef1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-size: 50%;

}

.container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;
    border-radius: 40px;
    overflow: hidden;
    gap: 40px;
    flex-direction: column;
    box-shadow: 10px 10px 10px -1px rgba(92, 110, 190, 0.16),
    -10px -10px 10px -1px rgb(92, 110, 190, 0.7);

}